<%- include ("layouts/header") %>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Settings</h3>
        </div>

        <div class="box box-primary">
            <div class="box-body">
            	<form onsubmit="saveSettings()">
            		<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="smtp-tab" data-toggle="tab" href="#smtp" role="tab" aria-controls="smtp" aria-selected="true">SMTP</a>
						</li>

                        <li class="nav-item">
                            <a class="nav-link" id="about-us-tab" data-toggle="tab" href="#about-us" role="tab" aria-controls="about-us" aria-selected="true">About us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="contact-us-tab" data-toggle="tab" href="#contact-us" role="tab" aria-controls="contact-us" aria-selected="true">Contact us</a>
                        </li>
					</ul>

					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="smtp" role="tabpanel" aria-labelledby="smtp-tab">

							<iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/MP-QGUaxAno?si=vxQkFG-bXkRZaWvH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

							<div class="form-group">
		            			<label>Host</label>
		            			<input type="text" value="<%= settings?.smtp?.host %>" name="smtp_host" class="form-control" />
		            		</div>

		            		<div class="form-group">
		            			<label>Port</label>
		            			<input type="text" value="<%= settings?.smtp?.port %>" name="smtp_port" class="form-control" />
		            		</div>

		            		<div class="form-group">
		            			<label>Email</label>
		            			<input type="email" value="<%= settings?.smtp?.email %>" name="smtp_email" class="form-control" />
		            		</div>

		            		<div class="form-group">
		            			<label>Password</label>
		            			<input type="password" value="<%= settings?.smtp?.password %>" name="smtp_password" class="form-control" />
		            		</div>
						</div>

                        <div class="tab-pane fade" id="about-us" role="tabpanel" aria-labelledby="about-us-tab">
                            <textarea name="aboutUs" class="form-control" id="aboutUs"><%= settings.aboutUs || "" %></textarea>
                        </div>

                        <div class="tab-pane fade" id="contact-us" role="tabpanel" aria-labelledby="contact-us-tab">
                            <div class="form-group">
                                <label>Receive contact us emails at:</label>
                                <input type="email" name="contactUsEmail" class="form-control"
                                    value="<%= settings.contactUsEmail || '' %>" 
                                    placeholder="Enter email here..." />
                            </div>

                            <table class="table table-bordered" style="margin-top: 50px;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Message</th>
                                        <th>Date & Time</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% contactUsMessages.forEach(function (contactUsMessage) { %>
                                        <tr>
                                            <td><%= contactUsMessage.name %></td>
                                            <td><%= contactUsMessage.email %></td>
                                            <td><%- contactUsMessage.message %></td>
                                            <td><%= contactUsMessage.createdAt %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>

                            <!-- Pagination-->
                            <nav aria-label="Pagination">
                                <hr class="my-0" />
                                <ul class="pagination justify-content-center my-4">
                                    <% for (let a = 1; a < contactUsMessagesPages; a++) { %>
                                        <li class="page-item <%= (page == a ? 'active' : '') %>" aria-current="page">
                                            <a class="page-link" href="<%= '/admin/settings?page=' + a %>"><%= a %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
					</div>

					<button type="submit" name="submit" class="nav-link btn btn-primary btn-sm"
						style="border-radius: 0px;
						    position: relative;
						    left: 98%;
						    transform: translateX(-100%);">Save</button>
            	</form>
            </div>
        </div>
    </div>
</div>

<script>

	function saveSettings() {
		event.preventDefault()

		const form = event.target
		form.submit.innerHTML = "Loading...";
        form.submit.setAttribute("disabled", "disabled");

        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/admin/settings/save", true);

        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    // console.log(this.responseText);
                    var response = JSON.parse(this.responseText);
                    // console.log(response);

                    form.submit.innerHTML = "Save";
                    form.submit.removeAttribute("disabled");

                    if (response.status == "success") {
                        swal("Success", response.message, "success");
                    } else {
                        swal("Error", response.message, "error");
                    }
                }

                if (this.status == 500) {
                    console.log(this.responseText);
                }
            }
        };

        var formData = new FormData(form);
        formData.append("accessToken", localStorage.getItem("adminAccessToken"));
        ajax.send(formData);
	}

	function onInit() {
        document.getElementById("loader").style.display = "none"
        $("#aboutUs").richText()
	}
</script>

<%- include ("layouts/footer") %>